#header,#footer {width:100%; text-align: center;border-radius:5px; }
#header {background:indigo; color:black; border-bottom:5px solid indigo;}
#footer {clear:left; background:indigo; color:black; border-bottom:5px solid indigo;}

#rightnav, #centerbody {margin:10px; float:right}
#rightnav {padding-right:10px; border:2px outset indigo; width:20%; height:180px;}
#centerbody {border:2px outset indigo; text-align:center; width: 70%;height:180px;}

.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
}

.smaller-image {
  float:none;
  width:300px;
  height:200px;
}

#rightnav {
  margin-left:auto; 
  float:right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#centerbody {
  margin:10px; 
  float: left;
}

#leftnav {
  margin-right:auto; 
  float:left;
}

#rightnav {
  padding-right:20px; 
  border:none; 
  text-align: center;
  width:40%; height:200px;
}

#centerbody {
  border:2px; 
  border-color: indigo;
  border-style: solid; 
  text-align:center; 
  width: 40%;
  height:160px;
}

#leftnav {
  padding-right:20px; 
  width:40%; 
  height:200px;
}
        
.centerblack {
  text-align:center; 
  color:black;
  font-family: Roboto;
}

p {
  font-size: 12px; 
  font-family: Roboto;
  color: black;
  text-align: center; 
}

h3 {
  font-size: 25px;
  font-family: Roboto;
  color: black;
  text-align: left;
}
