#header, #footer {
  width:100%; 
  text-align:center; 
}

#header {
  background-color: white; 
  color: black;
  margin-bottom:40px
  margin-top:10px
}

#footer {
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  clear:left; 
  background-color:white; 
  color:black;
}

#body {
  margin: 20px;
}

.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
  }

.smaller-image {
  float:right;
  width:300px;
  height:200px;
  }

#rightnav {
  margin-left:auto; 
  float:right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#centerbody {
  margin:10px; 
  float: left;
}

#leftnav {
  margin-right:auto; 
  float:left;
}

#rightnav {
  padding-right:20px; 
  border:none; 
  text-align: center;
  width:40%; height:200px;
}

#centerbody {
  border:2px 
  border-color: indigo;
  border-style: solid; 
  text-align:center; 
  width: 40%;
  height:160px;
}

#leftnav {
  padding-right:20px; 
  width:40%; 
  height:200px;
}
        
.centerblack {
  text-align:center; 
  color:black;
}
