/* ====== Global Layout ===== */
html,body {
  height: 100%;
  margin: 0;
} 

body {
  display: flex;
  flext-direction: column;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: black;
}

/*Fonts*/
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

/*Header & Footer*/
.header-footer {
  width:100%; 
  text-align: center; 
  padding: 20px 0;
}

#header {
  border-bottom:5px dotted indigo;
}

#footer {
  border-top:5px dotted indigo; 
  color:black; 
  margin-top:auto;
  margin-block-end: inherent;
}

/*Main content*/
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 10;
  border-top: 2px dotted indigo;
  border-bottom: 2px dotted indigo;
  box-sizing: border-box;
}

/* Navigation Columns*/
.rightnav, .centerbody, .leftnav {
  padding:20px; 
  border:2px dotted indigo;
  box-sizing:border-box;
}

.rightnav {
  width: 20%
  text-align: right;
}

.centerbody {
  width: 60%
  text-align: center;
}

.leftnav {
  width: 20% 
  text-align: left;
}

/*Text styles*/
.headercolor {
  color: indigo;
  font-size: 16px;
}

.centerblack {
  color:black; 
  text-align: center; 
  font-size:12px;
}

.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-size: 30px;
  color: indigo;
  text-align: center;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
}

p {
  font-size: 12px; 
  color: black;
  text-align: center; 
  line-height: 1.5;
}

h2 {
  font-size: 25px;
  color: black;
  text-align: left;
}

/*Image*/
.smaller-image {
  width:300px;
  height:200px;
  max-width:100%;
  height: auto;
  border-radius: 4px;
}

/*links*/
a {
  color: indigo;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

/*=====Reponsice Design=====*/

/* medium screens (tablets, <=900px) */
@media (max-width: 900px) {
  .main-content {
    flex-wrap: wrap;
  }

  .leftnav, .centerbody, .rightnav {
    width:100%;
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

/* small screens (phones, <= 600px) */
@media (max-width: 600px) {
  .bitcount-grid-single-Phoenix {
    font-size: 24px;
  }

  .headercolor {
    font-size: 14px;
  }

  .smaller-image {
    width: 90%;
  }

  .main-content {
    border:none;
  }

  .leftnav, .centerbody, .rightnav {
    border:none;
    padding: 10px;
  }

  p, h2 {
    font-size: 14px;
  }
}
