#header, #footer {
  width:100%; 
  text-align:center; 
  border-radius:5px; 
}

#header {
  background-color: white; 
  color: black; 
  border-bottom: 5px 
  border-color: indigo;}
#footer {
  padding: 1000px; 
  clear:left; 
  background:white; 
  color:black;}

.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
  }

.smaller-image {
  width:200px;
  height:200px;
  }

#rightnav {margin:10px; float:right
#centerbody {margin:10px; float: left}
#leftnav {margin:10px; float:left}
#rightnav {padding-right:20px; border:2px outset indigo; width:40%; height:200px;}
#centerbody {border:2px outset indigo; text-align:center; width: 40%;height:160px;}
#leftnav {padding-right:20px; width:40%; height:200px;}
        
.centerblack {text-align:center; color:black}
