<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap" rel="stylesheet">

.header-footer {width:100vh; text-align: center; }
#header {margin-bottom:auto; border-bottom:5px; border-style:dotted; border-color:indigo; border-width:100%;}
#footer {margin-top:auto; color:black; border-top:5px border-style:dotted; border-color:indigo; border-width:100%;}
.headercolor {color: indigo;font-family:Roboto;}
.centerblack {color:black; text-align: center; font-size:12px;font-family:Roboto;}

#rightnav, #centerbody, #leftnav {padding:5px; border:2px; border-color: indigo; border-style: solid;font-family:Roboto;}
#rightnav {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: right;    /* Centers vertically */
  height: 100vh;          /* Ensures container takes full viewport height */
}
#centerbody {
  display: flex; 
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  height: 100vh;          /* Ensures container takes full viewport height */
}
#leftnav {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: left;    /* Centers vertically */
  height: 100vh;          /* Ensures container takes full viewport height */
}
.rightnav {text-align:right; width:20%; height:100%;font-size: 12px;float: right;}
.centerbody {text-align:center; width: 60%; height:100%;font-size: 12px;}
.leftnav {text-align: left; width: 20%; height: 100%;font-size: 12px;}


.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-color: indigo;
  text-align: center;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
}

.smaller-image {
  float:none;
  width:300px;
  height:200px;
}

p {
  font-size: 12px; 
  font-family: Roboto;
  color: black;
  text-align: center; 
}

h2 {
  font-size: 25px;
  font-family: Roboto;
  color: black;
  text-align: left;
}
