<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap" rel="stylesheet">

.header-footer {width:100vh; text-align: center; border-radius:5px; border-style:dotted}
#header {margin-bottom:10%; border-bottom:5px solid indigo; border-width:100vh;}
#footer {margin-top:10%; color:black; border-top:5px solid indigo; border-width:100vh;}
.headercolor {color: indigo;}
.centerblack {color:black; text-align: center; font-size:12px;}

#rightnav, #centerbody, #leftnav {padding:5px; border:2px; border-color: indigo; border-style: solid; }
#rightnav {margin-left:auto; float:right;}
#centerbody {margin: 0 auto; float:none;}
#leftnav {margin-right:auto; float:left;}
.rightnav {text-align:right; width:20%; height:100vh;}
.centerbody {text-align:center; width: 60%; height:100vh;}
.leftnav {text-align: left; width: 20%; height: 100vh}


.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
}

.smaller-image {
  float:none;
  width:300px;
  height:200px;
}

p {
  font-size: 12px; 
  font-family: Roboto;
  color: black;
  text-align: center; 
}

h3 {
  font-size: 25px;
  font-family: Roboto;
  color: black;
  text-align: left;
}
