/*Fonts*/
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

/*Header & Footer*/
.header-footer {
  width:100%; 
  text-align: center; 
}

#header {border-bottom:5px dotted indigo;}

#footer {border-top:5px dotted indigo; color:black; }

.headercolor {
  color: indigo;
  font-family:"Roboto", sans-serif;
}

/*Main content*/
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80%;
  border-top: 20ox dotted indigo;
  border-bottom: 2px dotted indigo;
}

/* Navigation and body*/
.rightnav, .centerbody, .leftnav {
  padding:20px; 
  border:2px dotted indigo;
  box-sizing:border-box;
}

.rightnav {
  width: 20%
  text-align: right;
}

.centerbody {
  width: 60%
  text-align: center;
}

.leftnav {
  width: 20% 
  text-align: left;
}

/*Text styles*/
.centerblack {
  color:black; 
  text-align: center; 
  font-size:12px;
}

.bitcount-grid-single-Phoenix {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: bold;
  font-size: 30px;
  color: indigo;
  text-align: center;
  font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0; 
}

p {
  font-size: 12px; 
  color: black;
  text-align: center; 
}

h2 {
  font-size: 25px;
  color: black;
  text-align: left;
}

/*Image*/
.smaller-image {
  width:300px;
  height:200px;
}

/*links*/
a {
  color: indigo;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
